<ul class="horizontal-list">
  <style>
    .card a:active .header,
    .card a:focus .header {
      text-decoration: underline;
    }
  </style>
  {% for item in include.collection %}

    <li class="card">
      {% if item.url %}
        <a href="{{ item.url }}">
          <span class="header">
            {{ item.title }}
            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}
          </span>
          <hr />
          {% if item.desc != false %}
          <p class="body">
            {{ item.desc }}
          </p>
          {% endif %}
        </a>
      {% else %}
        <span class="header">
          {{ item.title }}
          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}
        </span>
        <hr />
        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      {% endif %}
    </li>

  {% endfor %}
</ul>